<!--about section-->
<section class="about" id="about">
  <div class="max-width">
    <h1 class="title">About Ilirjana Kozhani</h1>
    <div class="absolute-content">
      <div class="column left">
        <img src="../../assets/images/foto1.jpg" alt="">

      </div>
    </div>

  </div>

</section>
<h3>Trying to become a programmer</h3>
<p>My name is Ilirjana Kozhani, I am a student in Computer Science, Department of Software Engineering, AAB University. I am currently in the 3rd year of studies at the Bachelor level.
  As a high school student I started thinking about my future. I got many options and suggestion from my friends and my family, and I finally chose computer science.
  I started thinking about how to become a successful programmer.<br /> I come to realize that it is not enough just studying at the faculty but I have to work on my own. I read a lot on internet, follow tutorials on youtube, trainings and other sorces.
  I am still working hard on reaching my goals to becoming a skilled softwer engineer. The passion to learn new things has characterized me as a person. Looking back a few years ago, my progress is obvious.
  <br />
I continue to learn, programming languages and technologies. After graduation I hope to see myself working in a prestigious company as a successful Software Engineer.</p>


