<div class="text-center">
  <h2>
    My Services
  </h2>
  <p>--what can I provide--</p>
  <div class="row px">
    <div class=" col col-md-4 px">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Web Programming</h5>
          <p class="card-text">I can design websites and web applications, style them, enrich with javascript and make them functional.</p>
        </div>
      </div>
    </div>


    <div class=" col col-md-4 px">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Software Design</h5>
          <p class="card-text"> After the purpose and specifications of software are determined, I will design a plan for a solution.</p>
        </div>
      </div>
    </div>
    <div class=" col col-md-4 px">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sales and Marketing</h5>
          <p class="card-text">I have sales skills. In my previous job, I had been selling different products and I noticed I have marketing skills.</p>
        </div>
      </div>
    </div>
  </div>
</div>
