<div class="row">
  <div class="col col-md-12 shift">
    <div class="row">


      <div class="col-md-2">
        <label class="myLabel">Name:</label>
      </div>
      <div class="col-md-4">
        <label class="lbl">Iliriana Kozhani</label>
      </div>
    </div>
    <div class="row">


      <div class="col-md-2">
        <label class="myLabel ">Address:</label>
      </div>
      <div class="col-md-4">
        <label class="lbl">Lipjan</label>
      </div>
    </div>
    <div class="row">


      <div class="col-md-2">
        <label class="myLabel">Tel:</label>
      </div>
      <div class="col-md-4">
        <label class="lbl">044-863-186</label>
      </div>
      </div>
    <div class="row">
      <div class="col-md-2">
        <label class="myLabel">Email:</label>
      </div>
      <div class="col-md-4">
        <label class="lbl">ilirjanakozhani@outlook.com</label>
      </div>

    </div>
  </div>
</div>
